Source: ros-noetic-beluga-amcl
Section: misc
Priority: optional
Maintainer: Gerardo Puga <glpuga@ekumenlabs.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-beluga, ros-noetic-beluga-ros, ros-noetic-catkin, ros-noetic-diagnostic-updater, ros-noetic-dynamic-reconfigure, ros-noetic-message-filters, ros-noetic-nodelet, ros-noetic-roscpp, ros-noetic-rostest <!nocheck>, ros-noetic-std-srvs
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-beluga-amcl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-beluga, ros-noetic-beluga-ros, ros-noetic-diagnostic-updater, ros-noetic-dynamic-reconfigure, ros-noetic-message-filters, ros-noetic-nodelet, ros-noetic-roscpp, ros-noetic-std-srvs
Description: An AMCL node implementation for ROS2 using Beluga.
